body {
    font-size: 16px;
    font-family: Helvetica;
}

header {
    width: auto;
    height: 100%;
    transform: translate(0px, -1270px);
}

nav {
    background-image: url("/assets/images/rec.jpg");
    padding:5px;
    width:100%;
    font-size: 28px;
    transform: translate(0px, -1452px);
    text-align: right;
}

nav a {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

#work, #about, #cont {
    text-decoration: none;
    color: #FFF;
}

.about {
    font-size: 32px;
    font-weight: lighter;
    position: absolute;
    top: 234px;
    text-align: left;
    margin-top: 20px;
}

.work {
    font-size: 32px;
    font-weight: lighter;
    position: absolute;
    top: 580px;
    text-align: left;
    margin-top: 20px;
}

.line {
    position: absolute;
    left:158px;
    top:220px;
}

.line2 {
    position: absolute;
    left:158px;
    top:416px;
}