body {
    font-size: 16px;
    font-family: Helvetica, 'Courier New', Courier, monospace;
	margin:0px;
}

.img {
    width: 100%;
    transform: translate(0px, -60px);
}

section {
	position:relative;
}
#hero {
    background: url(./images/nav.jpg) center/cover no-repeat;
    padding:0px 0px 20px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#hero-text {
	padding-top: 100px;
    padding-right: 50px;
}

#hero-text h4 {
	    margin: 0px;
    background: rgb(123, 114, 114);
    padding: 5px;
    display: inline-block;
    color: white;
    font-size: 35px;
}
header {
    background: #31343d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#aboutme {
    display: flex;
    padding: 25px 50px 25px 0px;
    background: #ededf7;
}
.sec-content p {
	margin:0px 0px 15px 0px;
}
.sec-heading h3 {
    margin: 0px;
    font-size: 36px;
    line-height: 40px;
    padding-right: 15px;
    text-align: right;
    color: #31343d;
}

.sec-heading {
    padding-left: 100px;
    border-right: 2px solid #31343d;
    margin-right: 20px;
}

header h4 {
    background: rgb(123, 114, 114);
    font-size: 36px;
    color: #FFF;
    margin: 0px;
    padding-left: 50px;
    padding-right: 10px;
}

nav {
    background-image: url(/assets/images/rec.jpg);
    padding: 15px 30px 15px 15px;
    text-align: right;
    box-sizing: border-box;
}

nav a {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
	 font-size:22px; 
	line-height:28px;
    text-decoration: underline;
    color: #FFF;
    cursor: pointer;
}



.name {
    background:rgb(123, 114, 114);
    font-size: 36px;
    color: #FFF;
    position: absolute;
    top: -50px;
    text-align: left;
}

.title {
    background: rgb(189, 189, 189);
    color:rgb(255, 255, 255);
    width: 39%;
    font-size: 66px;
    position:relative;
    left: 900px;
    top: -500px;
}

.about {
    font-size: 32px;
    font-weight: lighter;
    position: absolute;
    top: 234px;
    text-align: left;
    margin-top: 20px;
}

.work {
    font-size: 32px;
    font-weight: lighter;
    position: absolute;
    top: 700px;
    text-align: left;
    margin-top: 20px;
}

.selfie {
    position: relative;
    float: left;
    width: 11%;
    height: 20%;
    margin-left:170px;
    margin-top: -360px;
}

footer {
    font-size: 32px;
    font-weight: lighter;
    position: absolute;
    top: 1400px;
    text-align: left;
    margin-top: 20px;
}

.line {
    position: absolute;
    left:158px;
    top:220px;
}

.line2 {
    position: absolute;
    left:158px;
    top:558px;
}

.line3 {
    position: absolute;
    left:158px;
    top:1400px;
}

.number {
    font-size: 24px;
    font-weight: lighter;
    position: absolute;
    top: 1400px;
    left: 170px;
    margin-top: 27px;
}

.email {
    position: absolute;
    height:30px;
    width: 30px;
    top: 1400px;
    left: 360px;
    margin-top: 27px;
}

.myemail {
    font-size: 24px;
    font-weight: lighter;
    position: absolute;
    top: 1400px;
    left: 400px;
    margin-top: 27px;
}

.github {
    position: absolute;
    height:30px;
    width: 30px;
    top: 1400px;
    left: 700px;
    margin-top: 27px;
}

.github-link {
    font-size: 24px;
    font-weight: lighter;
    position: absolute;
    top: 1401px;
    left: 740px;
    margin-top: 27px;
}

.camera {
    position: relative;
    width: 288px;
    height: 152px;
    left: 463px;
    top: 500px;
    border: solid 2px;
    border-color: aqua;
}

.fluxion {
    position: relative;
    width: 351px;
    height: 217px;
    left: 520px;
    top: 652px;
    border: solid 2px;
    border-color: aqua;
}

.waves {
    position: relative;
    width: 351px;
    height: 224px;
    left: 263px;
    top: 502px;
    border: solid 2px;
    border-color: aqua;
}

.weather {
    position: relative;
    width: 343px;
    height: 220px;
    right:-309px;
    top: 656px;
    border: solid 2px;
    border-color: aqua;
}

.mic {
    position: absolute;
    width: 561px;
    height: 312px;
    right: 251px;
    top: 480px;
    border: solid 2px;
    border-color: aqua;
}