* {
    font-size: 16px;
    font-family: Helvetica, 'Courier New', Courier, monospace;
	margin:0px;
}

.img {
    width: 100%;
    transform: translate(0px, -60px);
}

section {
	position:relative;
}
#hero {
    background: url(./images/nav.jpg) center/cover no-repeat;
    padding:0px 0px 20px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#hero-text {
	padding-top: 100px;
    padding-right: 50px;
}

#hero-text h4 {
	margin: 0px;
    background: rgb(123, 114, 114);
    padding: 5px;
    display: inline-block;
    color: white;
    font-size: 35px;
}
header {
    background: #31343d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#aboutme {
    display: flex;
    padding: 25px 50px 25px 0px;
    background: #ededf7;
}
.sec-content p {
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
	margin:0px 0px 15px 0px;
}
.sec-heading h3 {
    margin: 0px;
    font-size: 36px;
    line-height: 40px;
    padding-right: 15px;
    text-align: right;
    color: #31343d;
}

#selfie {
    float: left;
    padding-right: 20px;
    width: 200px;
    height: 200px;
}

.sec-heading {
    padding-left: 100px;
    border-right: 2px solid #31343d;
    margin-right: 20px;
}

header h4 {
    background: rgb(123, 114, 114);
    font-size: 36px;
    color: #FFF;
    margin: 0px;
    padding-left: 50px;
    padding-right: 10px;
}

nav {
    padding: 15px 30px 15px 15px;
    text-align: right;
    box-sizing: border-box;
}

nav a {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
	 font-size:22px; 
	line-height:28px;
    text-decoration: underline;
    color: #FFF;
    cursor: pointer;
}


.name {
    background:rgb(123, 114, 114);
    font-size: 36px;
    color: #FFF;
    position: absolute;
    top: -50px;
    text-align: left;
}

.title {
    background: rgb(189, 189, 189);
    color:rgb(255, 255, 255);
    width: 39%;
    font-size: 66px;
    position:relative;
    left: 900px;
    top: -500px;
}

.about {
    font-size: 32px;
    font-weight: lighter;
    position: absolute;
    top: 234px;
    text-align: left;
    margin-top: 20px;
}

.work {
    font-size: 32px;
    font-weight: lighter;
    position: absolute;
    top: 700px;
    text-align: left;
    margin-top: 20px;
}

.selfie {
    position: relative;
    float: left;
    width: 11%;
    height: 20%;
    margin-left:170px;
    margin-top: -360px;
}

.work {
    padding-left: 50px;
    border-right: 2px solid #31343d;
    margin-right: 10px;
}

.work {
    margin: 0px;
    font-size: 36px;
    line-height: 40px;
    padding-right: 25px;
    text-align: right;
    color: #31343d;
}

section#aboutme {
    display: flex;
    padding: 25px 50px 25px 0px;
    background: #ededf7;
}

/* .gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex:6;
} */

footer {
    display: flex;
    flex-direction: column-reverse;
    border-right: 2px solid #31343d;
}

.contact h4 {
    display:flex;
    min-height: 100vh;
    font-size: 36px;
    flex-direction: column;
    padding-right: 25px;
    text-align: right;
    color: #31343d;
}